{% load wagtailcore_tags %}

<div class="sidenav">

<div class="breadcrumb">
    {% for p in current_page.get_ancestors %} 
        {% if p.title != 'Root' %}
            <a href="{% pageurl p %}">{{ p.title }}</a> &gt;
        {% endif %}
    {% endfor %}

    <a href="{% pageurl current_page %}">{{ current_page.title }}</a>

</div>


    <ol>
        {% for p in pages %}
        <li class="linktitle has-sub {% if p.id == current_section.id %}active {% endif %}">
            <a href="{% pageurl p %}">
                {{ p.title }}
            </a>
            {% if p.get_children %}
            <ul>
                {% for child in p.get_children %}
                <li>
                    <a href="{% pageurl child %}">
                        {{ child.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>
