{% load wagtailcore_tags %}
<div class="breadcrumb">
    {% for p in current_page.get_ancestors %} 
        {% if p.title != 'Root' %}
            <a href="{% pageurl p %}">{{p.specific.get_numeral}} {{ p.title }}</a> &gt;
        {% endif %}
    {% endfor %}

    <a href="#">{{current_page.specific.get_numeral}} {{ current_page.title }}</a>

</div>
<div class="sidenav">
    <ol>
        {% for p in pages %}
        <li class="linktitle {% if p.id == current_section.id %}active {% endif %}">
            {% if p.get_children %}
            <ul>
                <a class="linktitle" href="{% pageurl p %}">
                {{ p.title }}
                </a>
                {% for child in p.get_children %}
                <li>
                    <a href="{% pageurl child %}">
                        {{ child.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>
