-r ddhldap/requirements.txt
django<2
django-appconf<=1.0.2
django-compressor
django-libsass
django-model-utils
django-redis
psycopg2-binary<2.9
redis
elasticsearch>=7.0.0,<8
wagtail<2
django-activecollab-digger
