-r ddhldap/requirements.txt
django>=3.2,<3.3
django-compressor>=2.4,<2.5
django-libsass>=0.9,<1
django-model-utils>=4.2,<4.3
django-redis>=5,<5.1
psycopg2-binary>=2.9.1,<3
wagtail>=2.14,<2.15
django-activecollab-digger>=0.7,<0.8
