-r ddhldap/requirements.txt
django
django-compressor
django-grappelli
django-libsass
django-model-utils
django-redis
django-require
psycopg2
redis
elasticsearch>=2.0.0,<3.0.0
wagtail
django-activecollab-digger