@import 'settings'; /*	copy the _settings file from the vendor scss
folder to the project one */

@import '../vendor/foundation-sites/scss/foundation';

@import '../vendor/motion-ui/motion-ui';

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Sorts+Mill+Goudy');

/** Your custom scss here **/

html{
  height:100%;
}

body{
  min-height:100%;
  position:relative;
  padding-bottom:3rem;
}

footer{
  position:absolute;
  bottom:0;
  height:3rem;
}

h2{
  text-align: left!important;
}


/** Nav **/
nav{
  height:8rem;
  
}

.top-bar-left{
  h1{
    font-size:2rem;
    font-variant: small-caps;
    padding: 2rem 0 0 2rem;
  }
}


.top-bar-right.menu{
  padding:2.5rem 2rem 0 0;
  h5{
    font-variant: small-caps;
  }
  ul {
    position: absolute;
    top:-50rem;
    a{
      display:block;
      color:black;
    }
  }
      // initial li:hover
      &:hover {
        cursor: pointer;
        // secondary ul visibility change
        ul {
          display: block;
          width: 10rem;
          right: 2rem;
          top:4rem;
          position: absolute;
          z-index: 1;       
          font-variant: normal; 
          background:white;
         // secondary li
         li {
          position: relative;
          z-index: 1;
          display: block;
          padding: 0.8rem;      
          border-bottom:0.05rem solid;  
          &:last-child{
            padding: 0.3rem 1rem 0.3rem 0.3rem;
          }
          &.active{
            background: black;
            a{
              color:white;
              background: none;
              font-weight:bold;
            }
          } 
          &:hover {
            a{
              opacity:0.5;
            }
          }

        }
      }
      li{
        .search-box{ /** Search **/
          padding:0;
          margin:0;
          input{
            box-shadow:none;
            border:none;
            &:focus{
              border:none;
              box-shadow:none;
            }
          }
          .search-button-container button{
            position: absolute;
            top: 0.9rem;
            right: 1rem;
          }
        }/** End Search **/
      }
    }
  }
  /** End Nav **/

  /** Side Nav **/
  .sidenav{
    width:20rem;
    background:#fff;
    border-right:1rem solid black;
    height:100%;
    padding-bottom:100%;
    padding-left:2rem;
    position: absolute;
    a{
      color:black;
      }
    ol {
      counter-reset: li;
      list-style-type: none;
      margin-left: 0;
      
      li {
        border-bottom:0.05rem solid black;
        padding-left:0.5rem;
        &:before {
          counter-increment: li;
          content: counter(li);
          font-size: 3.5rem;
          opacity: 0.4;
          vertical-align: top;
          line-height: 5rem;
          font-family: 'Libre Baskerville', serif;
        }
        .linktitle{
          font-size:1.2rem;
          padding: 0 1rem 1.5rem 1.5rem;
          margin-top:-1.8rem;
          &:hover{
            opacity:0.5;
          }
          &:first-child{
            border-top:none;
          }
        }  
      }
      .active{
        background:black;
        a{
        color:white;
        }
        &:before 
        {
          color:white;
        }
      }
    }
  }  




/** Section **/
section{
  padding:0 2rem;
  text-align: justify;
  h2{
    border-bottom:0.05rem solid;
  }
}

/** Homepage**/
.homepage{
  margin: 0 0 0 20%;
    h2{
    border-bottom:none;
    }
  }

/** Object Index Page **/
.object-index{
  margin: 0 16rem 0 20rem;
    h2{
    font-size: 2rem; 
    position:absolute;
    top:-30%;
  }    
  h3{
    font-size:1.5rem;
  }
  p{
    text-align:justify;

  }
  .img-wrapper{
    font-size: 0.8rem;
  }
  .right .img-wrapper{
    float: right;
    margin: 0 -9rem 0 0;
    padding: 0 0 0 5%;
    width:60%;
    .caption .rich-text{
      width: 100%;
      p{
        text-align: right;
      }
    }
  }
  .left .img-wrapper{
    float: left;
    margin: 0 ;
    padding: 0 5% 0 0;
    width:60%;
    .caption .rich-text{
      width: 100%;
    }
  }
  .mid .img-wrapper{
    width:60%;
    margin: 0 auto;
    padding: 0 5% 0 0;
    .caption .rich-text{
      width: 100%;
    }
  }

  blockquote{
    font-style: italic;
    text-align: justify;
    font-size: 1.3rem;
    margin:2rem -7rem 2rem 2rem;
    border:none;

    p.attribution{
      padding: 0.5rem 0;
      font-size: 0.8rem;
      font-style: normal;
      color: black;
      border-top: 0.05rem solid #8a8a8a;
    }
    p.affiliation{
      padding: 0.5rem 0;
      font-size: 0.8rem;
      font-style: normal;
      color: black;
      border-top: 0.05rem solid #8a8a8a;
    }
  }


}

/** Entities **/
.entities{
  z-index: 0;  
  position: fixed;
  right: 0;
  color: #000;
  background: white;
  margin-right: 2rem;
  h5{
    font-size: 1rem;
    border-bottom: 0.05rem solid;
  }
  a {
    color: #000;
    text-decoration: none;
    vertical-align: top;
    font-size:0.8rem;
  }
  ul{
    margin:0;
    li{
      list-style-type:none;
      height: 1.3rem;
      padding-right:0.2rem;
      &:hover{
        opacity:0.5;
      }
      div{
        float:left;
        width:0.5rem;
        height:1.3rem;
        margin-right:0.3rem;
      }
      .darkgreen{
        background:#047657; //dark green
      }
      .purple{
        background:#B50AA8; //purple
      }  
      .lightgreen{
        background:#9cdb76; //light green
      }  
      .orange{
        background:#FF7F00; //orange
      }
      .red{
        background:#FF0000; //red
      }
      .lightblue{
        background:#00BAFF; //light blue
      }
      .darkblue{
        background:#192BB7; //dark blue
      }
    }
  }
}



/** Footer **/
footer{
  width:100%;
  float:left;
  border-top:0.05rem solid black;
  text-align:right;
  font-size:0.7rem;
}

/** End Footer **/






/* Reponsive menu code */
@media all and (max-width:900px) {  

  /** Side Nav **/  
  .sidenav{
    width:7rem;
    padding-left:2rem;
    height: 100%;
    border-right:0.5rem solid;   
    &:hover{
      width:50%
    }
    ol{
      li{
        overflow:hidden;
        padding:1.5rem 0 1.5rem 1rem;
      }
      &:hover .linktitle
      {
        left:3.5rem;
        opacity: 1;
        margin-top: -3rem;
      }
    }  
    .linktitle{
      position: absolute;
      left: -25rem;
      font-size: 1rem;
      opacity: 0;
    }
  }


  /** Homepage**/
  .homepage{
    margin: 0 0 0 10%;
      h2{
      border-bottom:none;
      }
    }

  .object-index{
    margin: 0 14rem 0 10%;
    h2{
      position: inherit;
      } 
    blockquote {
      margin: 0;
      padding: 0;
    }
    .right .img-wrapper{
      margin: 0 -7rem 0 0;
      }
    }

}


@media all and (max-width:600px) {
  .top-bar-left{
    h1{
      width:11rem;
      font-size:1.2rem;
      padding: 1rem 0 0 1rem;
    }
  }

  .top-bar-right.menu{
    padding: 1rem 1rem 0 0;
    &:hover ul{
     right: 1rem;
    top: 2.2rem;

   }
}
 /** Side Nav **/ 
  .sidenav{
    width:4rem;
    padding-left:0;
    &:hover{
      width:15rem;
    }
    ol{
      li{
        overflow:hidden;
        padding:1rem 0 1rem 1rem;
              &:before{
        font-size:2rem;
      }
      }
      &:hover .linktitle
      {
        left:1.5rem;
        opacity: 1;
        margin-top: -3rem;
        font-size:1rem;
      }
    }  
    .linktitle{
      position: absolute;
      left: -25rem;
      font-size: 0.7rem;
      opacity: 0;
    }

  }



  section {
    padding: 0 1rem;
  }
 /** Object Index Page **/

  .object-index{
    margin: 0 0 0 4rem;
    .right .img-wrapper, .left .img-wrapper, .mid .img-wrapper{
      width:100%;
      margin:0;
      padding:0;
    }
  }
/** Entities **/
  .entities {
   right: 0;
   z-index: 9;
   bottom: -10%;
   padding:0;
   margin: 0;
   &:hover,&:focus,&:active  {
    bottom:0;
    cursor: pointer; 
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  h5{
    font-size: 1rem;
    text-decoration: none;
    background: black;
    padding: 0.5rem;
    margin:0;
    color: white;
    font-weight: bold;
  }
}
}



@include foundation-everything;

