@import 'settings'; /*	copy the _settings file from the vendor scss
folder to the project one */


@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Sorts+Mill+Goudy');

/** Your custom scss here **/
$black:#3c3c3c;
$white:#fff;
$gray:#888;

//Entity colours
$purple:#B50AA8;
$darkgreen: #047657; 
$lightgreen:#9cdb76;
$orange:#FF7F00; 
$red:#FF0000; 
$lightblue:#00BAFF; 
$darkblue:#192BB7; 


html{
  height:100%;
}

body{
  min-height:100%;
  position:relative;
  padding-bottom:3rem;
  font-family: 'Sorts Mill Goudy', serif;
  margin: 1rem 2rem 0 2rem;
}

footer{
  position:absolute;
  bottom:0;
  height:3rem;
}

a{
  text-decoration: none;
  color: $black;
}

/** Nav **/
nav{
  height:8rem;
  
}

header{
  h1{
    font-size:2rem;
    font-variant: small-caps;
    margin: 0;
  }
}


.menu{
  position: absolute;
  top: 0;
  right: 0;
  h3{
    font-variant: small-caps;
    margin:1rem 0;
  }
  ul {
    position: absolute;
    top:-50rem;
    right:0;
    padding-left: 0;
    a{
      display:block;
      color:$black;
    }
  }
      // initial li:hover
      &:hover {
        cursor: pointer;
        // secondary ul visibility change
        ul {
          display: block;
          width: 10rem;
          right: 0;
          top:2rem;
          position: absolute;
          z-index: 1;       
          font-variant: normal; 
          background:$white;
         // secondary li
         li {
          position: relative;
          z-index: 1;
          display: block;
          padding: 0.8rem;      
          border-bottom:0.05rem solid;  
          &:last-child{
            padding: 0.3rem 1rem 0.3rem 0.3rem;
          }
          &.active{
            background: $black;
            a{
              color:$white;
              background: none;
              font-weight:bold;
            }
          } 
          &:hover {
            a{
              opacity:0.5;
            }
          }

        }
      }
      li{
        .search-box{ /** Search **/
          padding: 0.5rem;
          margin:0;
          input{
            box-shadow:none;
            border:none;
            font-family: 'Sorts Mill Goudy', serif;
            font-size: 1rem;
            width:7rem;
            outline:0;
            &:focus{
              box-shadow:none;
            }
          }
          .search-button-container button{
            position: absolute;
            top: 0.9rem;
            right: 0.5rem;
            border:none;
            background:none;
            outline:0;
          }
        }/** End Search **/
      }
    }
  }
  /** End Nav **/

  /** Side Nav **/
  .sidenav{
    h3{
      font-variant: small-caps;
      border-bottom: 0.05rem solid;
      margin-bottom:0;
    }
    h2{
      font-size: 1.3rem;
      font-weight: normal;
    }
    li{
      position: relative; 
    }
    ol {
      width:20rem;
      background:#fff;
      border-right:1rem solid $black;
      height:100%;
      position: absolute;
      counter-reset: li;
      list-style-type: none;
      padding:0;
      margin:0;
      ul{  
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 99%;
        z-index: 2;
        width: 100%;
        background:$white;
        opacity:1;
      }
      > li {
        border-bottom:0.05rem solid $black;
        padding: 1rem 1.5rem 1.5rem 0.5rem;
            &:hover{
            color: #aaa;
            background:$black;
            a{
              color:#aaa;
            }
            ul li a{
              color:$black;
            }
            }
        > a{
        font-size: 1.3rem;
        display: inline-block;
        width: 80%;
        padding: 1rem 0 0 0.1rem
        }
        &.has-sub > a:after {
          content: '»';
          position: absolute;
          right: 1.5rem;
          bottom: 50%;
        }
        &:hover > ul { 
          visibility: visible; 
        }
        &:hover > ul > li{ 
          visibility: visible; 
  
        }
        > ul {
          counter-reset: li;
          list-style-type: none;
          margin-left: 0.2rem;
          width:15rem;
        > li {
          padding: 0.3rem 1rem 1rem 1rem;
          margin-left: -40px;
          border-left: 1rem solid $black;
          border-bottom:0.05rem solid $black;
          background:#ddd;

          &:hover{
            background: $black;
            a{
            color:#aaa;
          }
          }
          &:last-child{
            border-bottom:none;
          }
          > a{
          display: inline-block;
          color:$white;
          }
          &:before {
            counter-increment: li;
            content: counter(li, none);
            font-size: 1.5rem;
            opacity: 0.4;
            vertical-align: top;
            line-height: 1rem;
            font-family: 'Libre Baskerville', serif;
          }
        }
      }
        &:before {
          counter-increment: li;
          content: counter(li);
          font-size: 3.5rem;
          opacity: 0.4;
          vertical-align: top;
          line-height: 5rem;
          font-family: 'Libre Baskerville', serif;
          
        }
        .linktitle{
          font-size:1.2rem;
          padding: 0 0.5rem 1.5rem 2.5rem;
          margin-top: -2.8rem;
          &:hover{
            opacity:0.5;
          }
          &:first-child{
            border-top:none;
          }
        }  
      }
      .active{
        background:$black;
        a{
        color:$white;
        }
        &:before 
        {
          color:$white;
        }
      }
    }
  }  

/** Section **/
section{
  margin:0 1rem;
  h2{
    border-bottom:0.05rem solid;
    margin:0;
    font-size: 2rem;
  }
  p{
    text-align:justify;
  }
}

/** Homepage**/
.homepage{
  margin: 10rem 0 0 20rem;
  padding-left:2rem;
  text-align:justify;
    h2{
    border-bottom:none;
    }
  }

/** Object Index Page **/
.object-index{
  margin: 0 12rem 0 20rem;
    h2{
    font-size: 2rem; 
    position:absolute;
    top:-30%;
    padding-left: 1.5rem;
  }    
  h3{
    font-size:1.5rem;
    padding-left: 1.5rem;
  }
  p{
    text-align:justify;
    padding-left: 1.5rem;
  }
    .richtext-image{
    &.right{
      float:right;
      margin: 0 -5rem 0 0;
      width: 60%;
      height: auto;
      padding:1rem 0 1rem 5%;
     } 
    &.left{
      float:left;
      margin: 0;
      width: 60%;
      height: auto;
      padding:1rem 5% 1rem 0;
     } 
    &.full-width{
      width: 100%;
      height: auto;
      padding:1rem 0;
     } 
   }

  .img-wrapper{
    font-size: 0.8rem;
    img{
      display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    }
  }
  .right .img-wrapper{
    float: right;
    margin: 0 -9rem 0 0;
    padding: 0 0 0 5%;
    width:60%;
    .caption .rich-text{
      width: 100%;
      p{
        text-align: right;
      }
    }
  }
  .left .img-wrapper{
    float: left;
    margin: 0 ;
    padding: 0 5% 0 0;
    width:60%;
    .caption .rich-text{
      width: 100%;
    }
  }
  .mid .img-wrapper{
    width:60%;
    margin: 0 auto;
    padding: 0 5% 0 0;
    .caption .rich-text{
      width: 100%;
    }
  }

  blockquote{
    font-style: italic;
    text-align: justify;
    font-size: 1.2rem;
    margin:2rem -5rem 2rem 2rem;
    border:none;
    color:$gray;
    p.attribution{
      padding: 0.5rem 0;
      font-size: 0.8rem;
      font-style: normal;
      color: $black;
      border-top: 0.05rem solid #8a8a8a;
    }
    p.affiliation{
      padding: 0.5rem 0;
      font-size: 0.8rem;
      font-style: normal;
      color: $black;
      border-top: 0.05rem solid #8a8a8a;
    }
  }


}

/** Entities **/
.entities{
  z-index: 0;  
  position: fixed;
  right: 0;
  color: #000;
  background: $white;
  margin-right: 2rem;
  h5{
    font-size: 1rem;
    margin:0 0 0.5rem 0;
  }
  a {
    color: #000;
    text-decoration: none;
    vertical-align: top;
    font-size:0.8rem;
  }
  ul{
    padding:0;
    margin: 0;
    li{
      list-style-type:none;
      height: 1.3rem;
      padding-left:0.2rem;
      border-left:0.5rem solid;
      &.purple{
        color:$purple
      }  
      &.darkgreen{
        color:$darkgreen; 
      }
      &.lightgreen{
        color:$lightgreen; 
      }  
      &.orange{
        color:$orange; 
      }
      &.red{
        color:$red;
      }
      &.lightblue{
        color:$lightblue; 
      }
      &.darkblue{
        color:$darkblue; 
      }
      &:hover{
        opacity:0.5;
      }     
    }
  }
}



/** Footer **/
footer{
  width:100%;
  float:left;
  border-top:0.05rem solid $black;
  text-align:right;
  font-size:0.7rem;
}

/** End Footer **/






/* Reponsive menu code */
@media all and (max-width:1000px) {  

  /** Side Nav **/  
  .sidenav{ 
    .linktitle a{
      position: absolute;
      left: -25rem;
      font-size: 1.2rem;
    }
    ol{
      width:4rem;
      height: 100%;
      border-right:0.5rem solid;  
      &:hover{
        width:20rem;
        .linktitle a{
        position: absolute;
        left: 2rem;
      }
    }
    > li > ul{
      > li{
        border-left: 0.5rem solid #000;
        padding: 1rem 3rem 4rem 3rem;
      }
    }
    }  
  }


  /** Homepage**/
  .homepage{
    margin: 4rem;
      h2{
      border-bottom:none;
      }
    }

  .object-index{
    margin: 0 11rem 0 3.5rem;
    h2{
      position: inherit;
      padding-left:1rem;
      } 
    p{
      padding-left:1rem;
    }  
    blockquote {
      padding: 0;
      margin:2rem -5rem 2rem 2rem;
    }
    .richtext-image.right {
    margin: 0 -5rem 0 0;
    }
    .right .img-wrapper{
      margin: 0 -7rem 0 0;
      }
    }

}


@media all and (max-width:650px) {

  body{
  margin: 0;
  }


  header{
    h1{
      width:11rem;
      font-size:1.2rem;
      padding: 0.5rem 0 0 0.5rem;
    }
  }

  .menu{
    padding: 0 0.5rem 0 0;
    &:hover ul{
     right: 1rem;
    top: 2.2rem;

   }
}




 /** Side Nav **/ 

   /** Side Nav **/  
  .sidenav{ 
    .linktitle a{
      position: absolute;
      left: -25rem;
      font-size: 1.2rem;
    }
    ol{
      width:2rem;
      border-right:0.3rem solid; 
      margin-left: 0.5rem;
      > li{
        padding: 1rem 1.5rem 2.5rem 0.5rem;
        &:before{
          font-size:2rem;
          line-height: 4rem;
        }
          &.has-sub > a:after {
          content: '»';
          position: absolute;
          right: 0.5rem;
          bottom: 50%;
        }
      > a{
        width: 70%;
        padding: 1rem 2rem 0 1rem;
      }  
      } 
      &:hover{
        width:15rem;
        .linktitle a{
        position: absolute;
        left: 1rem;
        font-size:1rem;
      }
    }
    > li > ul{
      > li{
        border-left: 0.2rem solid #000;
      }
    }
    }  
  }


   /** Homepage**/
  .homepage{
    margin: 2rem 0 0 2rem;
    padding-left:0.5rem;
      h2{
      border-bottom:none;
      }
    }


 /** Object Index Page **/

  .object-index{
    margin: 0 0 0 1.8rem;
    padding: 0;
    h2{
      padding-left:0.5rem
      }
    p{
      padding-left:0.5rem
      }  
    .right .img-wrapper, .left .img-wrapper, .mid .img-wrapper{
      width:100%;
      margin:0;
      padding:0;
    }
  }
/** Entities **/
  .entities {
   right: -5rem;
   z-index: 9;
   padding:0;
   margin: 0;
   h5{
     opacity: 0;
     }
   &:hover,&:focus,&:active  {
    right:0;
    cursor: pointer; 
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    h5{
     opacity: 1;
     }
  }
}
}


