@import 'settings';



/*  copy the _settings file from the vendor scss
folder to the project one */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Sorts+Mill+Goudy');




/** Your custom scss here **/

/************
MENU

// Mixins
// Colours
// General
// Grid
// Header
*************/


/***** Mixins  *****/

@mixin calc($prop,
$val) {
    @each $pre in -webkit-,
    -moz-,
    -o- {
        #{$prop}: $pre+calc(#{$val});
    }

    #{$prop}: calc(#{$val});
}

@mixin translate3d($x,
$y,
$z) {
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    -o-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}


/***** Colours *****/

$black:#1a1a1a;
$white:#fff;
$gray:#888;
$darkred:#c11609;

//Entity colours
$purple:#B50AA8;
$darkgreen: #047657;
$lightgreen:#9cdb76;
$orange:#FF7F00;
$red:#FF0000;
$lightblue:#00BAFF;
$darkblue:#192BB7;




/***** General *****/

html,
body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Sorts Mill Goudy', serif;
    font-size:1.15rem;
    width:100%;
}


* {
  box-sizing: border-box;
}

strong.title
{
    display: block;
}


/*body{
  min-height:100%;
  position:relative;
  padding-bottom:3rem;
  font-family: 'Sorts Mill Goudy', serif;
  margin: 1rem 2rem 0 2rem;
}*/


/* *, *:before, *:after {
  outline:none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition:0.3s;
-moz-transition:0.3s;
-ms-transition:0.3s;
-o-transition:0.3s;
transition:0.3s;
  }*/

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8rem ;
    /* the bottom margin is the negative value of the footer's height */
    position: relative
}



a {
    text-decoration: none;
    color: $black;
}

/***** Grid *****/

.row {
    width: 94%;
    max-width:800px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row .row {
    width: auto;
    max-width: none;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}

[class*="col-"],
.bgrid {
    float: left;
}

[class*="col-"]+[class*="col-"]:last-child {
    float: right;
}

[class*="col-"] {
    padding: 0 20px;
}

.col-one {
    width: 8.33333%;
}

.col-two,
.col-1-6 {
    width: 16.66667%;
}

.col-three,
.col-1-4 {
    width: 25%;
}

.col-four,
.col-1-3 {
    width: 33.33333%;
}

.col-five {
    width: 41.66667%;
}

.col-six,
.col-1-2 {
    width: 50%;
}

.col-seven {
    width: 58.33333%;
}

.col-eight,
.col-2-3 {
    width: 66.66667%;
}

.col-nine,
.col-3-4 {
    width: 75%;
}

.col-ten,
.col-5-6 {
    width: 83.33333%;
}

.col-eleven {
    width: 91.66667%;
}

.col-twelve,
.col-full {
    width: 100%;
}


@media screen and (max-width:1024px) {
    .row .row {
        //margin-left: -18px;
        //margin-right: -18px;
    }
    [class*="col-"] {
        padding: 0 18px;
    }
}


@media screen and (max-width:768px) {
    .row {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .row .row {
        padding-left: 0;
        padding-right: 0; //margin-left: -15px;
        //margin-right: -15px;
    }
    [class*="col-"] {
        padding: 0 15px;
    }
    .tab-1-4 {
        width: 25%;
    }
    .tab-1-3 {
        width: 33.33333%;
    }
    .tab-1-2 {
        width: 50%;
    }
    .tab-2-3 {
        width: 66.66667%;
    }
    .tab-3-4 {
        width: 75%;
    }
    .tab-full {
        width: 100%;
    }
}


@media screen and (max-width:600px) {
    .row {
        padding-left: 25px;
        padding-right: 25px;
    }
    .row .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    [class*="col-"] {
        padding: 0 10px;
    }
    .mob-1-4 {
        width: 25%;
    }
    .mob-1-2 {
        width: 50%;
    }
    .mob-3-4 {
        width: 75%;
    }
    .mob-full {
        width: 100%;
    }
}


@media screen and (max-width:400px) {
    .row {
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        padding-left: 0;
        padding-right: 0;
    }
    .row .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    [class*="col-"] {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    [class*="col-"]+[class*="col-"]:last-child {
        float: none;
    }
}



@media screen and (min-width: 1824px) {

.row {
    max-width:none;
}
}


/***** Header *****/
header {
    margin:2rem 0 4rem 3rem;
    width:50%;
    float: left;
    >h1 {
        font-size: 1.7rem;
        font-variant: small-caps;
        margin: 0 0 -0.5rem 0;
        padding: 0;
        line-height: 1.5rem;
    }
    >h2 {
        font-size: 2.5rem;
        color:#aaa;
        margin: 0;
        padding: 0;
        font-variant: small-caps;
        //font-family: 'Libre Baskerville', serif;
    }
}



/***** Navigation *****/

/* Accordion Menu*/
/**
 * Hidden fallback
 */
[hidden] {
  display: none;
  visibility: hidden;
}

#nav {
margin: 0 auto;
text-align: left;
font-size: 0.8rem;
    >a {
    display: none;
    }
    li {
        h2{
            margin:0;
            font-size:1.5rem;
            font-weight:normal;
        }
        a {
        color: $white;
        display: block;
        }
    }
    /* Numbered lists and radio accordion */
    ol.nav-wrapper{
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    right:0;
    margin: 0;
    background:black;
    font-size:1.2rem;
    width:22rem;
    padding: 3rem 0 0 3rem;
    color: $white;
    counter-reset: li;
    list-style-type: none;

        input { 
        display: none; 
        }
        input:checked + label { 
        }
        label { 
        cursor: pointer; 
        display: block; 
        display: block;
        color: #fff;
        transition: all .25s ease-in;
        float: right;
        width: 90%;
            &:focus,
            &:hover {
            color: rgba(255,255,255,.5);
            background: darken(#151515, 7%);
            }
            &:last-child { 
            margin-right: 0; 
            }
        }  
        >li{
            counter-increment: step-counter;
            list-style-type: none;
            &:before {
            //content: counter(step-counter);
            font-size:1.5rem;
            font-family: 'Libre Baskerville', serif;
            counter-increment: item;
            content: counters(item, ".")" ";
            }
        /* TO - Need to fix last-child, not working */
            &:last-child{ 
            background: red;
            margin-bottom:15rem;
            }
            
            >ol { 
            max-height: 0; 
            overflow: hidden; 
            position: relative; 
            opacity: 1;
            transition: max-height 0.5s ease-in-out;
            margin: 0.5rem 0 1rem -40px;
            padding-right:3rem;
            counter-reset: li;
            list-style-type: none;
                >li{
                font-size:0.95rem;
                background: #252525;
                box-shadow: inset 0 -1px lighten(#252525, 7%);
                padding: 0.5rem;
                counter-increment: step-counter;
                list-style-type: lower-roman;
                float: right;
                width: 90%;
                counter-reset: li;
                    &:before {
                    counter-reset: li;
                    content: counter(step-counter);

                }
                    &:focus,
                    &:hover{            
                    color: rgba(255,255,255,.5);
                    background: darken(#252525, 7%);
                    }
                }
            }
        }
        li > input:checked ~ ol { 
        max-height: 900px; /*auto*/
        }
    }

    /* Unnumbered lists and radio accordion */
    /* TO - Might remove radio accordion if not used */
    ul.nav-wrapper{
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    right:0;
    margin: 0;
    background:black;
    font-size:1.2rem;
    width:22rem;
    padding: 3rem 0 0 3rem;
    list-style-type: none;
        input { 
        display: none; 
        }
        input:checked + label { 
        }
        label { 
        cursor: pointer; 
        display: block; 
        display: block;
        color: #fff;
        transition: all .25s ease-in;
            &:focus,
            &:hover {
            color: rgba(255,255,255,.5);
            background: darken(#151515, 7%);
            }
            &:last-child { 
            margin-right: 0; 
            }
        }
        >li{
        /* TO - Need to fix last-child, not working */
            &:last-child{ 
            background: red;
            margin-bottom:15rem;
            }
            >ul { 
            max-height: 0; 
            overflow: hidden; 
            position: relative; 
            opacity: 1;
            transition: max-height 0.5s ease-in-out;
            margin: 0.5rem 0 1rem -40px;
            padding-right:3rem;
                li{
                font-size:0.95rem;
                background: #252525;
                box-shadow: inset 0 -1px lighten(#252525, 7%);
                padding: 0.5rem;
                    &:focus,
                    &:hover{            
                    color: rgba(255,255,255,.5);
                    background: darken(#252525, 7%);
                    }
                }
            }
        }
        li > input:checked ~ ul { 
        max-height: 900px; /*auto*/
        }
    }
    /*ul.nav-list{
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    right:0;
    margin: 0;
    background:black;
    list-style: none;
    font-size:1.2rem;
    width:20rem;
    padding: 3rem 0 0 3rem;
    list-style-type: none;
        a, label {
        display: block;
        color: #fff;
        transition: all .25s ease-in;
            &:focus,
            &:hover {
            color: rgba(255,255,255,.5);
            background: darken(#353535, 7%);
            }
        }
        label {
        cursor: pointer;
        padding-right: 3rem
        }
        input[type=checkbox]:checked + label + ul {
            /* reset the height when checkbox is checked */
          /*max-height: 100%;
        }

        >li{
        position: relative;
        color: $white;
        list-style-type: none;
        padding: 1rem 0;
        transition: transform 2s ease;
            .sublevel-1 a,
            .sublevel-1 label {
              padding: 0 0.5rem;
              &:focus,
              &:hover {background: darken(#252525, 7%);}
            }
            .sublevel-2 a,
            .sublevel-2 label {
              padding: 0 1rem;
              &:focus,
              &:hover {background: darken(#353535, 7%);}
            }
            /**
             * Hide nested lists
             */
            /*.sublevel-1,
            .sublevel-2{
              height: 100%;
              max-height: 0;
              overflow: hidden;
              transition: transform 2s ease;
                li{
                background: #252525;
                box-shadow: inset 0 -1px lighten(#252525, 7%);
                list-style-type: none;
                padding: 1rem 0;
                margin-left: -40px;
              }
            }
            span{
                font-family: 'Libre Baskerville', serif;
                font-size:2rem;
            }
            &:last-child{
            background:black;
            padding-bottom:150px;
            }     
        }

        /* Plus icon */
        /*input[type=checkbox] + label.has-sub{
        position: relative;
            &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            background-color:white;
            top: 50%;
            transition: transform .65s ease;
            }
            &:after{
            width:10px;
            height: 8px;
            margin-top: -4px;
            right: 23px;
            width: 2px;
            }
            &:before{
            height: 2px;
            margin-top: -1px;
            right: 20px;
            width: 8px;
            }  
        }
        /* Minus icon */
       /* input[type=checkbox]:checked + label.has-sub{
            &:before, &:after{
            transform: rotate(90deg);
            }
            &:before{
            display:none;
            }  
        }
        h2{
            color: $white;
        }
    }*/
}


/* Entity type legend */
.entity-types{
position: fixed;
bottom: 0;
background: rgba(255,255,255,0.95);
width: 18rem;
margin: 0 0 0 -2rem;
padding:0;
    >ul{
        margin-left:-40px;
        >li{
            padding: 0 2rem;
            list-style-type: none;
        }
    }
    h3{
    padding: 1rem 2rem 0.5rem 2rem;
    text-decoration: underline;
    margin: 0;
    }
}

/* Entity Switch */


.switch-wrapper{
position: fixed;
bottom: 0;
right: 2rem;
background: black;
padding: 0.75rem 0 0 0;
z-index: 9;
border-top: 1px solid white;
width: 18rem;
height:11rem;
font-size: 1.1rem;
  .switch {
  position:absolute;
  display: inline-block;
  font-size: 100%;
  line-height: 1.5;
  height: 34px;
  right:5rem;
  }
  .switch__input {
  display: none;
  }
  label.switch__label {
  background:none;
  box-shadow:none;
  }
  .switch__label {
  display: block;
  width: 58px;
  height: 34px;
  white-space: nowrap;
    &:hover{
       .switch__text {
        color: rgba(255,255,255,1);
        }
    }
  }

  .switch__text {
  position: absolute;
  display: block;
  margin-top: 5px;
  left: -9rem;
  }

  .switch__label{
    left: -110px;
    &:before,&:after{
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
    }
    &:before{
    width: 100%;
    height: 100%;
    background: #999;
    border-radius: 20px;
    }
    &:after{
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);  
    transition: all 400ms ease
    }    
  }

  .switch__input:checked{   
    + .switch{
      position:absolute;
      top:-50px;
    }
    + .switch__label{
      &:after {
      left: 27px;
      }
      &:before {
      background: #ddd;
      } 
    }  
  }
  .legend{
    margin: 2.5rem 0;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.95);
    display: block;
    height: 6.5rem;
    border-radius: 0.7rem;
    ul{
    margin-left: -40px;
    display: block;
    padding: 0.5rem 0 0 3rem;
    margin-left:-40px;
    li{
    list-style: none;
    width:50%;
    float: left;
    }
    }
  }
}










/**

nav {
    height: 8rem;
}

.nav-content {
    height: 7rem;
    height + top/bottom paddding + top/bottom border must add up to footer height 
    padding: 0.5rem 0;
}




.menu {
    position: absolute;
    top: 0;
    right: 0;
    h3 {
        font-variant: small-caps;
        margin: 1rem 0;
    }
    ul {
        position: absolute;
        top: -50rem;
        right: 0;
        padding-left: 0;
        a {
            display: block;
            color: $black;
        }
    } // initial li:hover
    &:hover {
        cursor: pointer; // secondary ul visibility change
        ul {
            display: block;
            width: 10rem;
            right: 0;
            top: 2rem;
            position: absolute;
            z-index: 1;
            font-variant: normal;
            background: $white; // secondary li
            li {
                position: relative;
                z-index: 1;
                display: block;
                padding: 0.8rem;
                border-bottom: 0.05rem solid $black;
                &:last-child {
                    padding: 0.3rem 1rem 0.3rem 0.3rem;
                }
                &.active {
                    background: $black;
                    a {
                        color: $white;
                        background: none;
                        font-weight: bold;
                    }
                }
                &:hover {
                    a {
                        opacity: 0.5;
                    }
                }
            }
        }
        li {
            .search-box {
                
                padding: 0.4rem;
                margin: 0;
                input {
                    box-shadow: none;
                    border: none;
                    font-family: 'Sorts Mill Goudy', serif;
                    font-size: 1rem;
                    width: 7rem;
                    outline: 0;
                    &:focus {
                        box-shadow: none;
                    }
                }
                .search-button-container button {
                    position: absolute;
                    top: 0.9rem;
                    right: 0.5rem;
                    border: none;
                    background: none;
                    outline: 0;
                }
            }
          
        }
    }
}




/** End Nav **/


/** 

.breadcrumb {
    font-variant: small-caps;
    border-bottom: 0.05rem solid;
    padding-bottom: 0.5rem;
    color: $gray;
    a {
        color: $gray;
        font-weight: bold;
        font-size: 0.8rem;
        &:last-child {
            display: block;
            color: $black;
            font-size: 1.2rem;
        }
    }
    .number {
        font-family: 'Libre Baskerville', serif;
        font-variant: normal;
        font-size: 0.8rem;
        font-weight: normal;
    }
}




.sidenav {
    width: 0;
    float: left;
    left: 0;
    top: 8rem;
    bottom: 8rem;
    height: 100vh;
    h2 {
        font-size: 1.3rem;
        font-weight: normal;
    }
    li {
        position: relative;
        background: $white;
    }
    ol {
        width: 20rem;
        background: #fff;
        border-right: 0.5rem solid $black;
        height: 100%;
        padding: 0;
        margin: 0;
        counter-reset: li;
        list-style-type: none;
        >li {
            border-bottom: 0.05rem solid $black;
                     
            &:hover {
                color: $white;
                background: $black;
                opacity: 1;
                &:before {
                    color: $white;
                    opacity: 0.7;
                }
                a {
                    color: $white;
                    opacity: 1;
                }
                ul li {
                    position: relative;
                    &:first-child {
                        padding-top: 1.5rem;
                    }
                    a {
                        color: $white;
                        width: 90%;
                        opacity: 0.7;
                    }
                }
            }
            >a {
                font-size: 1.3rem;
                display: inline-block;
                width: 80%;
                padding: 1.5rem 0 1.5rem 1rem;
                opacity: 0.5;
            }
            &:hover>ul {
                visibility: visible;
                >li {
                    visibility: visible;

                    a {
                        width: 70%;
                        padding: 0 0 2rem 0;
                    }
                }
            }
            >ul {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 99%;
                z-index: 2;
                width: 100%;
                background: $black;
                opacity: 1;
                counter-reset: li;
                list-style-type: none;
                margin-left: 0.2rem;
                width: 15rem;
                h5 {
                    margin-left: -1.4rem;
                    padding-top: 0.2rem;
                    padding-bottom: 1.5rem;
                    color: rgba(255, 255, 255, 0.7);
                }
                >li {
                    margin-left: -40px;
                    background: $black;
                    color: $white;

                    &:hover {
                        background: $black;
                        opacity: 1;
                        &:before {
                            color: $white;
                            opacity: 1;
                        }
                        a {
                            opacity: 1;
                        }
                    }
                    >a {
                        display: inline-block;
                        color: $white;
                    }

                    &:before {
                        counter-increment: li;
                        content: counter(li, lower-roman);
                        font-size: 1.5rem;
                        opacity: 0.7;
                        vertical-align: top;
                        line-height: 1rem;
                        font-family: 'Libre Baskerville', serif;
                        color: $white;
                        font-size: 1rem;
                        margin-left: 1.5rem;
                        width: 2rem;
                        display: inline-block;
                    }
                }
            }
            &:before {
                counter-increment: li;
                content: counter(li);
                font-size: 3.5rem;
                opacity: 0.4;
                vertical-align: top;
                line-height: 5rem;
                font-family: 'Libre Baskerville', serif;
                width: 7%;
                padding-left: 0.5rem;
                display: inline-block;
            }
            .linktitle {
                font-size: 1.2rem;
                margin-top: -2.8rem;
                &:hover {
                    opacity: 0.5;
                }
                &:first-child {
                    border-top: none;
                }
            }
        }
        .active {
            background: $white;
            a {
              color: $black;
              opacity: 1;
            }
            &:before {
              color: $darkred;
              opacity: 1;
            }
            &:hover {
              &:before {
              color: $darkred;
              }
            }
            >li {
            border-bottom: 0.05rem solid $black;
            }  
            >ul {
              >li {
                &:hover {
                    background: $black;
                    opacity: 1;
                    &:before {
                        color: $darkred;
                        opacity: 1;
                    }
                  }
                }
            }
        }
    }
}*/

/*.sidenav {
    width: 0;
    float: left;
    left: 0;
    top: 8rem;
    bottom: 8rem;
    height: 100vh;
    h2 {
        font-size: 1.3rem;
        font-weight: normal;
    }
    li {
        position: relative;
        background: $white;
    }
    ol {
        background: #fff;
        border-right: 0.5rem solid $black;
        padding: 0;
        margin: 0;
        counter-reset: li;
        list-style-type: none;
        width: 4rem;
        height: 100%;
        >li {
            border-bottom: 0.05rem solid $black;
            padding: 1rem 1.5rem 1.5rem 0.3rem;
            &:hover {
                color: $white;
                background: $black;
                opacity: 1;
                &:before {
                    color: $white;
                    opacity: 0.7;

                }
                a {
                    color: $white;
                    opacity: 1;
                   
                }
                ul li {
                    position: relative;
                    &:first-child {
                        padding-top: 1.5rem;
                    }
                    a {
                        color: $white;
                        //width: 90%;
                        opacity: 0.7;
                    }
                }
            }
            >a {
                font-size: 1.3rem;
                display: inline-block;
                //width: 80%;
                padding: 1.5rem 0 1.5rem 1rem;
                opacity: 0.5;
                background: yellow;
            }

            &:hover {
                //width: 4rem;
                >ul {
                    visibility: visible;

                    >li {
                        visibility: visible;
                        a {
                            width: 70%;
                            padding: 0 0 2rem 0;
                        }
                    }
                }
            }
            >ul {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 99%;
                z-index: 2;
                background: $black;
                opacity: 1;
                counter-reset: li;
                list-style-type: none;
                width: 15rem;
                h5 {
                    margin-left: -1.4rem;
                    padding-top: 0.2rem;
                    padding-bottom: 1.5rem;
                    color: rgba(255, 255, 255, 0.7);
                }
                >li {
                    margin-left: -40px;
                    background: $black;
                    color: $white;

                    &:hover {
                        background: $black;
                        opacity: 1;
                        &:before {
                            color: $white;
                            opacity: 1;
                        }
                        a {
                            opacity: 1;
                        }
                    }
                    >a {
                        display: inline-block;
                        color: $white;
                    }

                    &:before {
                        counter-increment: li;
                        content: counter(li, lower-roman);
                        font-size: 1.5rem;
                        opacity: 0.7;
                        vertical-align: top;
                        line-height: 1rem;
                        font-family: 'Libre Baskerville', serif;
                        color: $white;
                        font-size: 1rem;
                        margin-left: 1.5rem;
                        width: 2rem;
                        display: inline-block;
                    }
                }
            }
            &:before {
                counter-increment: li;
                content: counter(li);
                font-size: 3.5rem;
                opacity: 0.4;
                vertical-align: top;
                line-height: 5rem;
                font-family: 'Libre Baskerville', serif;
                //width: 7%;
                padding-left: 0.5rem;
                //display: inline-block;
            }
            .linktitle {
                font-size: 1.5rem;
                margin: 1.6rem 1rem 2rem -1.2rem;
                display: block;
                &:hover {
                    opacity: 0.5;
                }
                &:first-child {
                    border-top: none;
                }
            }
        }
        .active {
            background: $white;
            a {
                color: $black;
                opacity: 1;
            }
            &:before {
                color: $darkred;
                opacity: 1;
            }
            &:hover {
                &:before {
                    color: $darkred;
                }
            }
            >li {
                border-bottom: 0.05rem solid $black;
            }
            >ul {
                >li {
                    &:hover {
                        background: $black;
                        opacity: 1;
                        &:before {
                            color: $darkred;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


/* .sidenav {
        .linktitle a {
            left: -25rem;
            font-size: 1.2rem;
        }
        h5 {
            display: none;
            padding: 0;
        }
        ol {
            width: 2rem;
            border-right: 0.3rem solid;
            margin-left: 0;
            >li {
                padding: 1rem 1.5rem 1.5rem 0rem;
                >a {
                    padding: 1rem 0 0 0.5rem;
                }
                ul {
                    margin-left: 0.8rem;
                    h5 {
                        margin-left: -2.5rem;
                    }
                }
                &:before {
                    font-size: 2rem;
                    line-height: 4rem;
                }
                &:hover {

                    >ul {
                        left: 0;
                        position: relative;
                        width: 11.3rem;
                        margin-top: 2rem;
                        >li {
                            padding: 0;
                            &:before {
                                margin-left: 0;
                                width: 1rem;
                            }
                            >a {
                                font-size: 1rem;
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }*/


/** Content **/

section {
    height: 100%;
    width:100%;
    margin-left:3rem;
    h2 {
        border-bottom: 0.05rem solid;
        margin: 0;
        font-size: 1.5rem;
    }
    p {
        text-align: justify;
    }
}


.bottom-nav
{
    padding: 20px;

    a
    {
        color: rgba(255,255,255, 1) !important;
        background: rgba(0,0,0,0.8);
        display: inline-block;
        font-size: 0.8rem;
        padding: 4px 10px;
    }
}

.pullquote
{
    padding-left: 50px;
}


dl
{
    dt
    {  
        font-weight: bold;
    }

    dd
    {
        width: 75%;
    }
}



/** Object Index Page **/

.page-content {
    width:100%;
    max-width:1000px;
    h2 {
        position: absolute;
        top: -30%;
        padding: 0 0 0 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
        padding-left: 1.5rem;
    }
    p {
        text-align: justify;
    }
    a {
        text-decoration: none;
        color: $black;
        word-break: break-all;
        &.purple {
            border-bottom: 1px solid;
            border-bottom-color: $purple;
        }
        &.darkgreen {
            border-bottom: 1px solid;
            border-bottom-color: $darkgreen;
        }
        &.lightgreen {
            border-bottom: 1px solid;
            border-bottom-color: $lightgreen;
        }
        &.orange {
            border-bottom: 1px solid;
            border-bottom-color: $orange;
        }
        &.red {
            border-bottom: 1px solid;
            border-bottom-color: $red;
        }
        &.lightblue {
            border-bottom: 1px solid;
            border-bottom-color: $lightblue;
        }
        &.darkblue {
            border-bottom: 1px solid;
            border-bottom-color: $darkblue;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .rich-text{
        float: left;
        width:100%;
    }
    .richtext-image {
        &.right {
            height: auto;
            float: right;
            padding: 1% 0 1% 3%;
            width: 48%;
        }
        &.left {
            height: auto;
            float: left;
            margin: 0;
            padding: 1% 3% 1% 0;
            width: 48%;
        }
        &.full-width {
            height: auto;
            padding: 1% 0;
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .img-wrapper {
        font-size: 0.8rem;
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: auto;
        }
    }
    .right .img-wrapper {
        float: right;
        margin: 0 -9rem 0 0;
        padding: 0 0 0 5%;
        width: 60%;
        .caption .rich-text {
            width: 100%;
            p {
                text-align: right;
            }
        }
    }
    .left .img-wrapper {
        float: left;
        margin: 0;
        padding: 0 5% 0 0;
        width: 60%;
        .caption .rich-text {
            width: 100%;
        }
    }
    .mid .img-wrapper {
        width: 60%;
        margin: 0 auto;
        padding: 0 5% 0 0;
        .caption .rich-text {
            width: 100%;
        }
    }

    blockquote {
        font-style: italic;
        text-align: justify;
        font-size: 1.2rem;
        border: none;
        color: $gray;
        margin: 0 auto;
        width: 70%;
        p.attribution {
            padding: 0.5rem 0;
            font-size: 0.8rem;
            font-style: normal;
            color: $black;
            border-top: 0.05rem solid #8a8a8a;
        }
        p.affiliation {
            padding: 0.5rem 0;
            font-size: 0.8rem;
            font-style: normal;
            color: $black;
            border-top: 0.05rem solid #8a8a8a;
        }
    }
}




/** Entities **/

.entities {
    z-index: 0;
    position: fixed;
    right: 0;
    top: 12rem;
    color: $black;
    background: $white;
    margin-right: 2rem;
    h5 {
        font-size: 1rem;
        margin: 0 0 0.5rem 0;
    }
    a {
        color: $black;
        text-decoration: none;
        vertical-align: top;
        font-size: 0.8rem;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            height: 1.3rem;
            padding-left: 0.2rem;
            border-left: 0.5rem solid;
            &.purple {
                color: $purple
            }
            &.darkgreen {
                color: $darkgreen;
            }
            &.lightgreen {
                color: $lightgreen;
            }
            &.orange {
                color: $orange;
            }
            &.red {
                color: $red;
            }
            &.lightblue {
                color: $lightblue;
            }
            &.darkblue {
                color: $darkblue;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}


/* Table */
td{
    text-align: justify;
    padding:0 1rem;
}



/** Footer **/

.push {
    height: 8rem;
    clear: both;
}

footer {
    height: 8rem;
}

.footer-content {
    height: 6rem;
    /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 1rem;
    border-top: 0.05rem solid $black;
    font-size: 0.7rem;
}




/** End Footer **/


/** Search Results  **/

.search-results {
    h2 {
        font-variant: small-caps;
        span {
            font-variant: normal;
            color: $gray;
            font-weight: normal;
        }
    }
    ol {
        margin-left: -20px;
        li {
            list-style-type: square;
        }
    }
    a:hover {
        opacity: 0.5;
    }
}





/** End Search Results **/

.error-page {
    font-size: 3rem;
}




/* Reponsive menu code */

@media all and (max-width:1000px) {

    /** Side Nav **/

    /** Homepage**/
    .homepage {
        margin: 4rem;

        h2 {
            border-bottom: none;
        }
    }

    .object-index {
        margin: 0 7rem 0 4rem;
        border-left: 0.5rem solid $black;
        h2 {
            position: inherit;
            padding-left: 1rem;
        }
        p {
            padding-left: 1rem;
        }
        .right .img-wrapper {
            margin: 0 -7rem 0 0;
        }
    }
}


@media all and (max-width:650px) {

    html,
    body {
        margin: 0;
    }

    nav {
        &:before {
            margin-left: 0;
        }
        height: 6rem;
    }

    header {
        h1 {
            width: 11rem;
            font-size: 1.2rem;
            padding: 0.5rem 0 0 0.5rem;
        }
    }

    .menu {
        padding: 0 0.5rem 0 0;

        &:hover ul {
            right: 1rem;
            top: 2.2rem;
        }
    }

    /** Side Nav **/
    .breadcrumb {
        margin: 0;
        padding-left: 0.5rem;
    }
/*    .sidenav {
        .linktitle a {
            left: -25rem;
            font-size: 1.2rem;
        }
        h5 {
            display: none;
            padding: 0;
        }
        ol {
            width: 2rem;
            border-right: 0.3rem solid;
            margin-left: 0;
            >li {
                padding: 1rem 1.5rem 1.5rem 0rem;
                >a {
                    padding: 1rem 0 0 0.5rem;
                }
                ul {
                    margin-left: 0.8rem;
                    h5 {
                        margin-left: -2.5rem;
                    }
                }
                &:before {
                    font-size: 2rem;
                    line-height: 4rem;
                }
                &:hover {
                    >ul {
                        left: 0;
                        position: relative;
                        width: 11.3rem;
                        margin-top: 2rem;
                        >li {
                            padding: 0;
                            &:before {
                                margin-left: 0;
                                width: 1rem;
                            }
                            >a {
                                font-size: 1rem;
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }*/
.sidenav {
        ol {
            width: 2rem;
            border-right: 0.3rem solid;
            margin-left: 0;
            >li {
                padding: 1rem 1.5rem 1.5rem 0rem;
                &:before {
                    font-size: 2rem;
                    line-height: 4rem;
                }
                .linktitle {
                font-size: 1.3rem;
                }
            }
        }
    }




    section {
        padding: 0 0.5rem;

        /** Homepage**/
        .homepage {
            margin: 5rem 0 0 2rem;
            padding-left: 0.5rem;

            h2 {
                border-bottom: none;
            }
        }


        /** Object Index Page **/
        .object-index {
            margin: 0 0 0 1.5rem;
            padding: 0;
            border-left: 0.3rem solid;
            h2 {
                padding: 1rem 0 0.3rem 0.5rem;
                font-size: 1.4rem;
                margin-right: 0.5rem;
                line-height: 1.5rem;
            }
            p {
                padding: 0 0 0.3rem 0.5rem;
                margin-right: 0.5rem;
            }
            .right .img-wrapper,
            .left .img-wrapper,
            .mid .img-wrapper {
                width: 100%;
                margin: 0;
                padding: 1% 0;
            }
            .richtext-image {
                &.left {
                    width: 100%;
                    padding: 1% 0;
                }
                &.right {
                    width: 100%;
                    padding: 1% 0;
                    margin: 0;
                }
            }
            blockquote {
                margin: 0 0.5rem;
            }
        }
    }
    /** Entities **/
    .entities {
        right: -5rem;
        z-index: 9;
        padding: 0;
        margin: 0;
        h5 {
            opacity: 0;
        }
        &:hover,
        &:focus,
        &:active {
            right: 0;
            cursor: pointer;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            h5 {
                opacity: 1;
            }
        }
    }
}





@media screen and (max-width: 768px) {
    body {
       
    }

    /*html {
        font-size: 75%;
    }*/

    #nav {
        top: 0;
        z-index: 2;
        width: 100%;
        .logo {
            position: relative;
            width: 13rem;
            margin:0;
            padding:0;
            h1 {
                text-align: left;
                padding: 0;
                font-size: 1.2rem;
            }

        }

        >a {
            width: 100%;
            //height: 4.125rem;
            text-align: right;
            position: absolute;
            color: white;
            font-size: 1.5rem;
            top: 0;
            right: 0;
            width: 10%;
            padding: 0.8rem 1rem 0 0;
            transition: 1.6s ease;
        }
    }

    #nav:not(:target)>a:first-of-type,
    #nav:target>a:last-of-type {
        display: block;
        color: $black;
        z-index:1;
        transition: 1s ease;
    } 

    #nav:not(:target)>ul {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 2.5s ease;
        right: -20rem;
    }
   #nav:target>a.hide-nav {
        padding:18px 15px 0 0;
    } 
    #nav:target>ul {
        display: block;
        background-color: rgba(0, 0, 0, 1);
        transition: 1s ease;
    }
}


