{% load static %}

<ul class="logos">
  <li>
    <a href="//www.kcl.ac.uk/" title="King's College London">
      <img src="{% static 'images/KCL-logo-whitebg.svg' %}" alt="King's College London">
    </a>
    <a href="https://www.kcl.ac.uk/artshums/depts/music/index.aspx" title="King's College London Department of Music">
      Department of Music
    </a>
  </li>
</ul>
<ul>
  <li>

    &copy; Copyright {% now "Y" %} 
  </li>
  <li>
    <a href='/accessibility-statement' class="underline">Accessibility statement</a><span class="margin-10">|</span>Designed, developed and maintained by <a href='http://kdl.kcl.ac.uk' target='_blank' class="underline" title="King's Digital Lab">King's Digital Lab</a>
  </li>
</ul>
 

