{% load staticfiles cms_tags wagtailcore_tags %}

{% get_entity_types as et %}
{% get_chapters as chapters %}

<input id="menu-switch" type="checkbox" checked/>
<nav id="menu" role="navigation">        

	<ul>
		<li>
			<a href="/">Home</a>
		</li>  
		<li>
			{% get_menu_pages as menu_pages %}
			<input id="chapters" type="checkbox" {% if self.get_verbose_name == 'Object page' %}checked{% endif %} hidden/>
			<label for="chapters" class="check">Chapters</label>
			<ol class="level1-list">
				{% for chapter in chapters %}
				<li>
					<input id="chapter-{{chapter.id}}" type="checkbox" {% if self.get_parent.title == chapter.title %} checked {% endif %} hidden />
					<label for="chapter-{{chapter.id}}" class="check">{{ chapter.title }} </label>
					<ol class="level2-list">
						<li><a href="{{ chapter.get_url }}">Introduction</a></li>
						{% for child in chapter.get_children %}
						<li><a href="{{ child.get_url }}">{{ child.title }}</a></li>
						{% endfor %}
					</ol>
				</li>
				{% endfor %}
			</ol>
		</li>
		<li>
			<input id="entities" type="checkbox" hidden />
			<label for="entities" class="check"> Entities</label>
			<ul class="level1-list">

				{% for e in et %}
				<li class="{{ e.colour }}"><a href="{{ e.get_url }}">{{ e.title }}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% for page in menu_pages %}
		<li>
			<a href="{{ page.get_url }}">{{ page.title }}</a>
		</li>  
		{% endfor %}
		<li>
			<div class="search-box">
				<form action="/search" method="get">
					<input type="text" class="search-box-text" name="q"{% if query_string %} value="{{ query_string }}"{% endif %} placeholder="Search the site">
					<button type="submit" class="search-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</li>  
		{% if self.get_verbose_name == 'Object page' %}
		<div class="switch-wrapper"> 
		<span class="switch__text">Entity types</span>
			<div class="switch">
				<input id="switch-1" type="checkbox"  checked class="switch__input">

				<label for="switch-1" class="switch__label">
					
				</label>
			</div>
			<div class="legend">
				<ul>
					
					{% for e in et %}
					<li class="{{e.colour}}">{{e.title}}</li>
					{% endfor %}
					             
				</ul>                
			</div>
		</div>
		{% endif %}
	</ul>
</nav>
