{% load staticfiles cms_tags wagtailcore_tags %}



<input id="menu-switch" type="checkbox" checked/>
<nav id="menu" role="navigation">        

	<ul>
		<li>
			<a href="#">Home</a>
		</li>  
		<li>
			<input id="chapters" type="checkbox" hidden/>
			<label for="chapters" class="check">Chapters</label>
			<ol class="level1-list">
				<li>
					<input id="chapter1" type="checkbox" hidden />
					<label for="chapter1" class="check">What Mozart saw</label>
					<ol class="level2-list">
						<li><a href="#">Subchapter</a></li>
						<li><a href="#">Subchapter</a></li>
						<li><a href="#">Subchapter</a></li>
					</ol>
				</li>
				<li>
					<input id="chapter2" type="checkbox" hidden />
					<label for="chapter2" class="check">What Mozart saw</label>
					<ol class="level2-list">
						<li><a href="#">Subchapter</a></li>
						<li><a href="#">Subchapter</a></li>
						<li><a href="#">Subchapter</a></li>
					</ol>
				</li>
				<li>
					<input id="chapter3" type="checkbox" hidden />
					<label for="chapter3" class="check">What Mozart saw</label>
					<ol class="level2-list">
						<li><a href="#">Subchapter</a></li>
						<li><a href="#">Subchapter</a></li>
						<li><a href="#">Subchapter</a></li>
					</ol>
				</li>         
			</ol>
		</li>
		<li>
			<input id="entities" type="checkbox" hidden />
			<label for="entities" class="check"> Entities</label>
			<ul class="level1-list">
				<li class="purple"><a href="#">Person</a></li>
				<li class="darkgreen"><a href="#">Place</a></li>
				<li class="lightgreen"><a href="#">Person</a></li>
				<li class="orange"><a href="#">Place</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Bibliography</a>
		</li>  
		<li>
			<a href="#">About</a>
		</li> 

		<li>
			<div class="search-box">
				<form action="/search" method="get">
					<input type="text" class="search-box-text" name="q"{% if query_string %} value="{{ query_string }}"{% endif %} placeholder="Search the site">
					<button type="submit" class="search-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</li>  
		<div class="switch-wrapper"> 
			<div class="switch">
				<input id="switch-1" type="checkbox" class="switch__input">
				<label for="switch-1" class="switch__label">
					<span class="switch__text">Entity types</span>
				</label>
			</div>
			<div class="legend">
				<ul>
					<li class="darkgreen">Person</li>
					<li class="orange">Place</li>
					<li class="lightgreen">Institution</li>
					<li class="red">Object</li>
					<li class="purple">Musical Work</li>
					<li class="lightblue">Event</li>
					<li class="darkblue">Source</li>               
				</ul>                
			</div>
		</div>
	</ul>
</nav>
