{% load staticfiles compress require cms_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | {{ self.get_site.site_name }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  {# SCSS compilation relies on django compressor #}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  <!-- FontAwesome -->
  {#
    Copy _variable.scss and font-awesome.scss and change the @import paths
    to point to the project ones rather than to the vendor folder
  #}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/font-awesome.scss' %}">
  {% endcompress  %}

    {% get_entity_types as et %}
    <script>
      var CLASSES = {

        {% for e in et %}
    '{{ e.slug }}': '{{ e.colour }}'{% if not forloop.last %},{% endif %}
      {% endfor %}
    }
    </script>


  </head>
<body ontouchstart="">

  <div class="wrapper">

      {% include 'includes/header.html' %}
      {% include 'includes/navigation.html' %}
  

    <!--{% block sidenav %}{% endblock %}-->

    {% block entities %}{% endblock %}


    <section>
      {% block title %}{% endblock %}
      {% block main %}
      {% endblock %}
    </section>
    <div class="push"></div>
  </div>

  <footer>
    <div class="footer-content">
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
    </div>
  </footer>
  
  <!-- define requirejs config settings. -->
  <script type="text/javascript">
    {% include 'includes/config.js' %}
  </script>
  {% require_module 'config' %}

  <script src="{% static 'js/entity.js' %}"></script>
  {% block footer_scripts %}{% endblock %}
</body>
</html>
