{% extends "cms/base.html" %}
{% load wagtailcore_tags %}


{% block main %}
<div class="page-content">
    <header>
        <h2>{{self.title}}</h2>
    </header>
</div>

{% include "cms/includes/streamfield.html" with blocks=self.body %}


{% if self.get_entities %}
<div class="page-content">
	<header><h3>Pages referencing {{self.title}}:</h3></header>

    {% for e in self.get_entities %}
        <p><a href="{% pageurl e.page %}">{{e.page.title}}</a></p>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
