{% extends "cms/base.html" %}
{% load wagtailcore_tags %}

{% block breadcrumb %}
<div class="breadcrumb">
  <a href="/"> Home</a> &gt;
  <a href="{{ self.get_parent.get_url }}">Entity: {{ self.get_parent.title}}</a> &gt;
  <a href="{{ self.get_url }}"> {{ self.title }}</a>
</div>
{% endblock %}

{% block main %}

{% include "cms/includes/streamfield.html" with blocks=self.body %}


	<dl>
		{% if self.mozart_relevence %}
		<dt>Mozart Relevance</dt>
		<dd>{% include "cms/includes/streamfield.html" with blocks=self.mozart_relevence %}</dd>
		{% endif %}

		{% if self.subtype %}
		<dt>Category/Role</dt>
		<dd>{{ self.subtype }}</dd>
		{% endif %}

		{% if self.creator %}
		<dt>Author/Creator</dt>
		<dd>{{ self.creator }}</dd>
		{% endif %}

		{% if self.creator_text %}
		<dt>Author/Creator</dt>
		<dd>{{ self.creator_text }}</dd>
		{% endif %}

		{% if self.recipient %}
		<dt>Recipient</dt>
		<dd>{{ self.recipient }}</dd>
		{% endif %}

		{% if self.date_from %}
		<dt>Date 1</dt>
		<dd>{{ self.date_from }}</dd>
		{% endif %}

		{% if self.date_to %}
		<dt>Date 2</dt>
		<dd>{{ self.date_to }}</dd>
		{% endif %}

		{% if self.location %}
		<dt>Location</dt>
		<dd>{{ self.location }}</dd>
		{% endif %}

		{% if self.sublocation %}
		<dt>Sub-location</dt>
		<dd>{{ self.sublocation }}</dd>
		{% endif %}

		{% if self.date_mozart %}
		<dt>Date (Mozart)</dt>
		<dd>{{ self.date_mozart }}</dd>
		{% endif %}

		{% if self.location_mozart %}
		<dt>Location (Mozart)</dt>
		<dd>{{ self.location_mozart }}</dd>
		{% endif %}

		{% if self.comments %}
		<dt>Comments</dt>
		<dd>{{ self.comments }}</dd>
		{% endif %}

		{% if self.bibliog %}
		<dt>Bibliographic Reference</dt>
		<dd>{{ self.bibliog }}</dd>
		{% endif %}
	</dl>




{% if self.get_entities %}

	<h3>Pages referencing {{self.title}}:</h3>

    {% for e in self.get_entities %}
        <p><a href="{% pageurl e.page %}">{{e.page.title}}</a></p>
    {% endfor %}

{% endif %}

{% endblock %}
