{% extends "cms/base.html" %}
{% load cms_tags wagtailimages_tags %}


{% block breadcrumb %}

{% endblock %}

{% block main %}
<div class="homepage">
{% include "cms/includes/streamfield.html" with blocks=self.body %}
	<div class="item-wrapper">
		<div class="item">
			<div class="image-crop">
			<a href="/entities/person/mozart-wolfgang-amadeus/">
			{% image self.specific.mozart_image width-800 %}
			</a>
			</div>
			<h2><a href="/entities/person/mozart-wolfgang-amadeus/">Biography of Mozart</a></h2>
		</div>
		{% get_chapters as chapters %}
		{% for c in chapters %}
		<div class="item">
			
			<div class="image-crop">
			<a href="{{ c.url }}">
			{% image c.specific.homepage_image width-800 %}
			</a>
			</div>
			<h2><a href="{{ c.url }}">Chapter {{c.specific.get_numeral}}: {{ c.title }}</a></h2>
			<!--<p>{{ c.specific.homepage_text }}</p>-->
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}