{% extends "cms/base.html" %}
<div class="sidenav">
	<ol>
		<li class="active">
			<a href="index1.html">
				<div class="numbers">
					1
				</div>
				<h2 class="linktitle">
					The Mozarts as Collectors
					of Souvenirs
				</h2>
			</a>
		</li>
		<li>
			<a href="index2.html">
				<div class="numbers">
					2
				</div>
				<h2 class="linktitle">
					The Mozarts as Producers
					of Souvenirs
				</h2>
			</a>
		</li>
		<li>
			<a href="index3.html">
				<div class="numbers">
					3
				</div>
				<h2 class="linktitle">
					Eighteenth-century understandings of the word and idea ‘souvenir’
				</h2>
			</a>
		</li>
		<li>
			<a href="index4.html">
				<div class="numbers">
					4
				</div>
				<h2 class="linktitle">
					Souvenir and expression in Mozart’s music
				</h2>
			</a>
		</li>
	</ol>
</div>

<article>
	<h2>
		The Mozarts as Collectors of Souvenirs
	</h2>
	<div class="content">
		<div class="entities">
			<h5>
				Entities
			</h5>
			<ul>
				<li>
					<div class="person"></div>
					<a href="">Person</a>
				</li>
				<li>
					<div class="place"></div>
					<a href="">Place</a>
				</li>
				<li>
					<div class="institution"></div>
					<a href="">Institution</a>
				</li>
				<li>
					<div class="object"></div>
					<a href="">Object</a>
				</li>
				<li>
					<div class="musical"></div>
					<a href="">Musical Work</a>
				</li>
				<li>
					<div class="event"></div>
					<a href="">Event</a>
				</li>
				<li>
					<div class="source"></div>
					<a href="">Source</a>
				</li>
			</ul>
		</div>
		<p>During their travels through western Europe (1763-1768) and in <span style="border-bottom: 2px solid #B50AA8;display: inline-block;line-height: 0.8;">Italy</span> (1769-1773), the Mozarts collected souvenirs of the places they had visited, the monuments, holy places, natural wonders and people they had seen or met. In part these souvenirs
			served to remind them later of their journeys—to evoke memories of where they had been and who they had met—and in part they were intended to be shown to friends and acquaintances where they had been and to supplement their descriptions of those
			people and places with visual imagery and objects.
		</p>


		<h3>Naples and Mount Vesuvius</h3>

		<p>Between 14 May and 25 June 1770, Mozart and his father visited Naples.A major tourist site there — and one they were encouraged to visit by their acquaintance <span style="border-bottom: 2px solid #0E7257;display: inline-block;line-height: 0.8;">William Hamilton</span> — was Vesuvius. Leopold first mentioned the volcano in a letter to his
			wife of 29 May 1770:<img src="https://unsplash.it/g/600/400" alt="placeholder"> ‘Vesuvius’ hasn`t given me the pleasure of burning or, rather, spitting fire. Only very occasionally does one see a little smoke. But we shall shortly be seeing it
			at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when <span style="border-bottom: 2px solid #0E7257;display: inline-block;line-height: 0.8;">Leopold Mozart</span> wrote: ‘On Monday
			and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and <span style="border-bottom: 2px solid #B50AA8;display: inline-block;line-height: 0.8;">Capo
			di Monte</span> etc.’ Mozart and his father purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. The lava they acquired does not survive; the engraving they
			purchased or were given survives in the library of the Salzburg Museum: Both in Italy, between 1769 and 1773, and during the family tour of western Europe, from 1763 to 1766, the Mozarts were avide collectors of engravings
			of cityscapes and landscapes. Some of the engravings they collected in London and Naples, together with the engraving of Vesuvius, also survive in the library of the Salzburg Museum [= link to screens showing engravings]. Engravings from Paris
			and Rome mentioned in the family letters are lost, as are other souvenirs acquired by the Mozarts that are mentioned in their correspondence [= link to screen outlining known but lost – so have reversed 1a and 1b/c from below. This seems to me
			more logical. Then link at bottom of 1 to 2, The Mozarts as Producers of Souvenirs]
		</p>
	</div>
</article>