{% extends "cms/base.html" %}
{% load cms_tags %}


{% block breadcrumb %}

{% endblock %}








{% block main %}
<div class="homepage">
<p>Only very occasionally does one see a little smoke. But we shall shortly be seeing it at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when Leopold Mozartwrote: ‘On Monday and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and Capo di Monte etc.’ Mozart and his fatherleft aligned purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. 
		</p>

	<section>
		<h2>Chapter 1 : What Mozart Saw</h2>
		<img src="https://mmc-stg.kdl.kcl.ac.uk/static/media/images/004.width-800.jpg" >
		<p>Only very occasionally does one see a little smoke. But we shall shortly be seeing it at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when Leopold Mozartwrote: ‘On Monday and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and Capo di Monte etc.’ Mozart and his fatherleft aligned purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. 
		</p>
	</section>

	<section>
		<h2>Chapter 2 : The Mozarts as Collectors of Souvenirs</h2>
		<img src="https://mmc-stg.kdl.kcl.ac.uk/static/media/images/023-god.is.our.refuge.width-800.jpg" >
		<p>Only very occasionally does one see a little smoke. But we shall shortly be seeing it at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when Leopold Mozartwrote: ‘On Monday and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and Capo di Monte etc.’ Mozart and his fatherleft aligned purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. 
		</p>
	</section>




	<section>
	<h2>Chapter 3 : The Mozarts as Producers of Souvenirs</h2>
		<img src="https://mmc-stg.kdl.kcl.ac.uk/static/media/images/008.width-800.jpg">
		<p>Only very occasionally does one see a little smoke. But we shall shortly be seeing it at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when Leopold Mozartwrote: ‘On Monday and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and Capo di Monte etc.’ Mozart and his fatherleft aligned purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. 
		</p>
	</section>


	<section>
		<h2>Chapter 4 : Eighteenth-century understandings of the word and idea ‘souvenir’</h2>
		<img src="https://mmc-stg.kdl.kcl.ac.uk/static/media/images/Encyclopedie_de_DAlembert_et_Diderot_-_Premier.width-800.jpg" >
		<p>Only very occasionally does one see a little smoke. But we shall shortly be seeing it at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when Leopold Mozartwrote: ‘On Monday and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and Capo di Monte etc.’ Mozart and his fatherleft aligned purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. 
		</p>
	</section>




	<section>
	<h2>Chapter 5 : Souvenir and expression in Mozart’s music</h2>
		<img src="https://mmc-stg.kdl.kcl.ac.uk/static/media/images/011_iEfQH6o.width-800.jpg">
		<p>Only very occasionally does one see a little smoke. But we shall shortly be seeing it at close quarters.’ They had a better view of an eruption on 5 June, when Mozart wrote to his sister, ‘Smoke is pouring out of Vesuvius today, odds fish and zounds,’ and they visited the volcano on 18-19 June, when Leopold Mozartwrote: ‘On Monday and Tuesday etc. we`re going to take a closer look at Vesuvius, Pompea and Herculaneum - the towns that are currently being excavated - and admire the curiosities that have already been discovered and also take a look at Caserta etc. and Capo di Monte etc.’ Mozart and his fatherleft aligned purchased or were given two souvenirs of their encounter with Vesuvius, some lava and a copper engraving that shows the volcano in the background. 
		</p>
	</section>






</div>



{% include "cms/includes/streamfield.html" with blocks=self.body %}
{% endblock %}