

{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}


{% block breadcrumb %}
<div class="breadcrumb">
<a href="/"> Home</a> &gt;
<a href="{{ self.get_parent.get_url }}"> {{self.get_parent.title}}</a> &gt;
<a href="{{ self.get_url }}"> {{ self.title }}</a>
</div>
{% endblock %}

{% block main %}
<!--<header><h2>{{ self.title }}</h2></header>-->

{% include "cms/includes/streamfield.html" with blocks=self.body %}

{% include "cms/includes/streamfield_footnotes.html" with blocks=self.body %}

<div class="bottom-nav">

	{% with prev=self.get_prev %}
	{% if prev %}
	<a href="{% pageurl prev %}">&lt; &nbsp; {{prev.specific.get_numeral}} {{ prev }}</a>
	{% endif %}
	{% endwith %}

	{% with next=self.get_next %}
	{% if next %}
	<a class="pull-right" href="{% pageurl next %}">{{next.specific.get_numeral}} {{ next }} &nbsp; &gt;</a>
	{% endif %}
	{% endwith %}

</div>

{% endblock %}
